@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa',sans-serif;
}

.mainpage
{
    position: relative;
    width: 100%;
    height: 120vh;
    margin-top: -50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
    position:relative;
    
}
.mainpage::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #001c29,transparent);
    z-index: 10;
    
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#Sand
{
    z-index: 1;
}
#Sea
{
    z-index: 2;
}


#text1
{
    position: relative;
    margin-top: -22%;
    color: white;
    font-size: 10em;
    z-index: 1;
}
#text2
{
    position: relative;
    margin-top: -18.5%;
    color: white;
    font-size: 4em;
    z-index: 1;
}

#text3
{
    position: relative;
    margin-top: -22%;
    color: white;
    font-size: 10em;
    z-index: 1;
}
.try{
    font-family: "Proxima Nova",sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background:linear-gradient(-45deg,#0074a9,#02161f,#001c29, #0074a9);
    background-size: 400% 400%;
    color: rgb(245, 245, 245);
    line-height: 1.45;
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box;
    font-size: 100.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    animation: change 8s ease-in-out infinite ;
}
@keyframes change
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100.5%
    {
        background-position: 0% 50%;
    }
}
.FirstHeader
{
    position: relative;
    text-align: center;
}
.FirstHeader h2{
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 5em;
}
.FirstHeader h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.FirstHeader h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0% 45%,15% 44%,32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%,16% 65%,34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%, 0% 100%);
    }
}
.quote-div
{
    width: 300px;
    height: 300px;
    position: relative;

}
.quote
{
    width: 100%;
    height: 100%;
    background: radial-gradient(
        ellipse at center,
        #0074a9 0%,
        #0074a9 70%,
        rgba(0, 128, 172, 0) 70.3%
    );
    position: relative;
    margin: 0;
    color: white;
}
.quote p {
    position: a;
    height: 100%;
    font-size: 21px;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
  }
.quote::before {
    content: "";
    width: 50%;
    height: 100%;
    float: left;
    shape-outside: polygon(
        0 0,
        98% 0,
        50% 6%,
        23.4% 17.3%,
        6% 32.6%,
        0 50%,
        6% 65.6%,
        23.4% 82.7%,
        50% 94%,
        98% 100%,
        0 100%
    );
    shape-margin: 7%;
}
  
.quote p::before {
    content: "";
    width: 50%;
    height: 100%;
    float: right;
    shape-outside: polygon(
      2% 0%,
      100% 0%,
      100% 100%,
      2% 100%,
      50% 94%,
      76.6% 82.7%,
      94% 65.6%,
      100% 50%,
      94% 32.6%,
      76.6% 17.3%,
      50% 6%
    );
    shape-margin: 7%;
}
.quote-div blockquote footer {
    width: 100%;
    position: absolute;
    bottom: 25px;
    font-size: 17px;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
}
.quote-div::before {
    content: "\201C";
    font-size: 270px;
    height: 82px;
    line-height: 0.78;
    line-height: 1;
    position: absolute;
    top: -48px;
    left: 0;
    z-index: 1;
    font-family: sans-serif, serif;
    color: #ccc;
    opacity: 0.9;
}
.split {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 10;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.right {
    background-color: transparent;
    margin-left: 50%;
    margin-top: -30%;
    background-image:  url(Images/Untitled-2.png);
    background-size: cover;
    height: 300px;
    
}
.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
FirstHeader

.container-image-ocean{
    margin: 50px auto;
    width: 100%;
    padding: 8px;
}
.container-image-ocean img{
    float: right;
    width: 310px;
    height: 300px;
    position: relative;
    padding: 0 10px 0 0;
    shape-outside: circle();
    margin: 15px;
}
.container-image-ocean h2{
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.container-ocean-up{
    margin: 50px auto;
    width: 100%;
    padding: 8px;
}
.container-ocean-up img{
    float: left;
    width: 310px;
    height: 300px;
    position: relative;
    padding: 0 10px 0 0;
    shape-outside: circle();
    margin: 15px;
}
.container-ocean-up h2{
    right: 25%;
    top: -20px;
}
.learnmore-button{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    z-index: 2;
    padding: 15px 30px;
}
.learnmore-button:before {
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0074a9;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
.learnmore-button:hover::before{
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
    z-index: -1;
}
.learnmore-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}
.learnmore-button:hover::after{
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
@media screen and (max-width: 1600px) {
    #text1
    {
        margin-top: -27%;
    }
    #text2
    {
        margin-top: -23.5%;
    }

    #text3
    {
        margin-top: -27%;
    }

}

@media screen and (max-width: 1350px) {
    #text1
    {
        margin-top: -37%;
        font-size: 8em;
    }
    #text2
    {
        margin-top: -32.5%;
        font-size: 2em;
    }

    #text3
    {
        margin-top: -37%;
        font-size: 8em;
    }

}


@media screen and (max-width: 950px) {
    #text1
    {
        margin-top: -42%;
        font-size: 6em;
    }
    #text2
    {
        margin-top: -37.5%;
        font-size: 2em;
    }

    #text3
    {
        margin-top: -42%;
        font-size: 6em;
    }

}

@media screen and (max-width: 768px) {
    #text1
    {
        margin-top: -60%;
        font-size: 4em;
    }
    #text2
    {
        margin-top: -57.5%;
        font-size: 2em;
    }

    #text3
    {
        margin-top: -60%;
        font-size: 4em;
    }
}
@media screen and (max-width: 530px) {
    #text1
    {
        margin-top: -65%;
        font-size: 4em;
    }
    #text2
    {
        margin-top: -61.5%;
        font-size: 2em;
    }

    #text3
    {
        margin-top: -65%;
        font-size: 4em;
    }
}
@media screen and (max-width: 1020px) {
    .right{
        margin-top: 2.5%;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        width: 500px;
    }
    .left{
        margin-left: auto;
        margin-right: auto;
        left: 30px;
        height: 350px;
        width: 350px;
        z-index: 133123;
    }
}


