@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa',sans-serif;
}

.mainpage
{
    position: relative;
    width: 100%;
    height: 120vh;
    top: -50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:-1;
    position:relative;
}
.mainpage::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #04978c,transparent);
    z-index: 10;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#Sand
{
    z-index: 1;
}
#Sea
{
    z-index: 2;
}


#text1
{
    position: relative;
    margin-top: -22%;
    color: white;
    font-size: 10em;
    z-index: 1;
}
#text2
{
    position: relative;
    margin-top: -18.5%;
    color: white;
    font-size: 4em;
    z-index: 1;
}

#text3
{
    position: relative;
    margin-top: -22%;
    color: white;
    font-size: 10em;
    z-index: 1;
}


#body {

    overflow: auto;
   
}


.centertitle
{
    display: flex;
    justify-content: center;
    align-items: center;
}



.try{
    font-family: "Proxima Nova",sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background:linear-gradient(-45deg,#04978c,#011f1d,#013330, #04978c);
    background-size: 400% 400%;
    color: rgb(245, 245, 245);
    line-height: 1.45;
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box;
    font-size: 100.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    animation: change 8s ease-in-out infinite ;
}
@keyframes change
{
    0%
    {
        background-position: 0% 50%;
    }
    50%
    {
        background-position: 100% 50%;
    }
    100.5%
    {
        background-position: 0% 50%;
    }
}
.FirstHeader
{
    position: relative;
}
.FirstHeader h2{
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 5em;
}
.FirstHeader h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.FirstHeader h2:nth-child(2)
{
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%
    {
        clip-path: polygon(0% 45%,15% 44%,32% 50%,54% 60%,70% 61%,84% 59%,100% 52%,100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%,16% 65%,34% 66%,51% 62%,67% 50%,84% 45%,100% 46%,100% 100%, 0% 100%);
    }
}