	@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap'); /*imports fonts*/

	* {
		border: 0;
		padding: 0;
		margin: 0;	
		font-family:'Comfortaa';
	}

	html, body {
		height: 100%;
		scroll-behavior: smooth;
	}

	body {
		/*font-size: 1em;*/
		color: #333;
	}

	/*----------h1 headers----------*/
	#heading {		
		border-bottom: 2px solid #0074a9;		
		text-align: center;
		font-weight: 300;
		font-size: 2em;
		margin-bottom: 1em;
	}

	/*-------------Scroll effect---------------*/

	.wrapper {		
		position: relative;	
	}
	.wrapper section {
		
		position: relative;
		background: rgb(255, 255, 255);
	}
	.wrapper section article {
		width: 50%;
		margin: 0 auto;
		padding: 2em 0;
	}
	.wrapper section article p {
		margin-bottom: 1em;
	}
	.wrapper section article p:last-of-type {
		margin-bottom: 0;
	}
	.wrapper section:after {
		content: "";
		display: block;
		position: relative;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		height: 30em;
		width: 100%;
	}
	/*-----------------Photos-----------------*/
	.wrapper section:nth-child(1):after {
		background-image: url(".//images/francesco-ungaro-JT5o5nmzCRY-unsplash.jpg");
	}
	.wrapper section:nth-child(2):after {
		background-image: url(".//images/tomoe-steineck-T1Wru10gKhg-unsplash.jpg");
	}
	.wrapper section:nth-child(3):after {
		background-image: url(".//images/chuttersnap-2yKVezoXLyg-unsplash.jpg");
	}
	.wrapper section:nth-child(4):after {
		background-image: url(".//images/kris-mikael-krister-tkldDsOBGRg-unsplash.jpg");
	}
	.wrapper section:nth-child(5):after {
		background-image: url(".//images/matthew-pablico-3dkJ4pp0b60-unsplash.jpg");
	}
	.wrapper section:nth-child(6):after {
		background-image: url(".//images/david-clode-zBORpP97apw-unsplash.jpg");
	}
	/*-----------------Small screen adaption------------------*/
	@media only screen and (max-width: 600px) {
		.wrapper section article {
			width: 80%;
		}
		.wrapper section:after {
			height: 15em;
		}
	}


/*---------------------------back to top button with progress bar---------------------*/
	@keyframes border-transform {
		0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
		14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
		28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
		42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
		56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
		70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
		84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
	}
	
	.progress-wrap {
		position: fixed;
		right: 40px;
		bottom: 40px;
		height: 50px;
		width: 50px;
		cursor: pointer;
		display: block;
		border-radius: 50px;
		box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
		z-index: 10000;
		opacity: 0;
		visibility: hidden;
		transform: translateY(15px);
	}
	
	.progress-wrap.active-progress {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	
	.progress-wrap::after {
		position: absolute;
		font-family: 'unicons';
		content: "\2191";
		text-align: center;
		line-height: 50px;
		font-size: 26px;
		color: #ecedf3;
		left: 0;
		top: 0;
		height: 50px;
		width: 50px;
		cursor: pointer;
		display: block;
		z-index: 1;
	}
	
	.progress-wrap:hover::after {
		opacity: 0;
	}
	
	.progress-wrap::before {
		position: absolute;
		font-family: 'unicons';
		content: "\2191";
		text-align: center;
		line-height: 50px;
		font-size: 26px;
		opacity: 0;
		background: #16c2e0;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		left: 0;
		top: 0;
		height: 50px;
		width: 50px;
		cursor: pointer;
		display: block;
		z-index: 2;
	}
	
	.progress-wrap:hover::before {
		opacity: 1;
	}
	
	.progress-wrap svg path {
		fill: grey;
	}

	.progress-wrap svg.progress-circle path {
		stroke: #16c2e0;
		stroke-width: 5;
		box-sizing: border-box;
		-webkit-transition: all 200ms linear;
		transition: all 200ms linear;
	}
	
	
	