@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap'); /*Imports fonts*/


body{
    overflow: overlay;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: auto;
}

iframe{
    z-index: -1000;
    position:absolute;
    scrollbar-color: #000000;
    scroll-behavior:smooth;
    background:linear-gradient(#13293e,#001c29,#001c29);

    /*overflow: auto;
  -webkit-overflow-scrolling:touch;*/

  scrollbar-width: none;
}

p {
    color: white;
    text-align:left;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
    word-spacing: 7px;
    font-family: 'Comfortaa',sans-serif;
    font-size: 18px;   
}

/*For title with animation*/
svg{
    font-display:auto;
    position: relative;
    top: 50%;
    
    margin-top: -20px;
    left: 50%;
    margin-left: -140px;
    right: 50%;
    margin-right: 140px;
}
 
html {
    scroll-behavior: smooth;
    background-color: transparent;   
}


#map{
  scroll-behavior: smooth;
}

.leaflet-container path {
  transition: fill 0.1s;
}
#map:hover{
  background-size:auto;
}

.marker{
  color: blueviolet;
}
.frameClass{
  overflow-y: scroll;
}
@font-face {
font-family: "ubuntu";
font-style: italic;
font-weight: 300;
src: local("Lato Light Italic"), local("Lato-LightItalic"),
  url("https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2")
    format("woff2");
}

a {
text-decoration: none;
color: #9ca0b1;
}


.main {
  float: left;
  width: 90%;
  padding: 0 20px;
  overflow: hidden;
}

.map{
  position: absolute; top:80px; bottom: 0%; left: 50%; right: 20%;

}

.margin{
    margin-top: -20px;
    left: 50%;
    margin-left: -140px;
    right: 50%;
    margin-right: 140px;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 50%;
  }

  .margin{
    margin-top: -20px;
    left: 50%;
    margin-left: -140px;
    right: 50%;
    margin-right: 140px;
}

}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
    
  }
  
  .margin{
    margin-top: -20px;
    left: 0%;
    margin-left: 0px;
    right: 0%;
    margin-right: 0px;
}

p{
  margin-left: 0px;
  margin-right: 0px;
}

main{
  text-align: center;
  overflow-x: inherit;

}

}

