@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background:white;
}

section{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section:nth-child(2){
  color: #1D212B;
  background:#0b4467;
}

section:nth-child(3){
  color: #0b4467;
}

section:nth-child(4){
  color: #1D212B;
  background: #0b4467;
}

section .container{
  margin: 100px;
}

section h1{
  font-size: 60px;
}

section h2{
  color:black;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards{
  display: flex;
}

section .cards .text-card{
  width: 100;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card:nth-child(1)
{
  color: white;
}



section .cards .photo-card img{
  margin: 20px;
  padding: 20px;
  max-width: 100%;
  width: 1300px;
  height: 650px;

}

section .cards .photo1-card img{
  margin: 20px;
  padding: 20px;
  max-width: 900px;
  width: 1300px;
  height: 650px;

}
.txt{
  margin-left: 3%;
}

.textc{
  color: black;
}



@media (max-width: 900px){
  section h1{
    font-size: 40px;
  }

  section .cards{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
.qt-background{
    background: url(../Images/xianyu-hao-betJpW6fuoY-unsplash.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}
.title div{
    width: 100px;
    height: 100px;
    background-color: lightseagreen;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.Prolog{
    padding: 50px;
    margin: 30px;
}
.title
{
    color: rgb(245, 230, 202);
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}
