@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa',sans-serif;
}
p{
  font-size: 2.4vh;
  letter-spacing: 0.5px;
  line-height: 25px;
}

body{
  background:white;
}

section{
  min-height: 100vh;
  display: flex;
  align-items: center;
}



section:nth-child(4){
  color: white;
  background: #0b4467;
}
section:nth-child(5)
{
  background:white;
}
section:nth-child(6)
{
  background: #0b4467;
}
section:nth-child(6) p{
  color: white;
}

section .container{
  margin: 100px;
}

section h1{
  font-size: 60px;
}

section h2{
  color:black;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .cards{
  display: flex;
}

section .cards .text-card{
  width: 100;
  margin: 20px;
  padding: 20px;
}

section .cards .text-card:nth-child(1)
{
  color: white;
}



section .cards .photo-card img{
  margin: 20px;
  padding: 20px;
  max-width: 900px;
  width: 800px;
  height: 650px;

}

section .cards .photo1-card img{
  margin: 20px;
  padding: 20px;
  max-width: 900px;
  width: 800px;
  height: 650px;

}

section .cards .photo2-card img
{
  margin: 20px;
  padding: 20px;
  max-width: 900px;
  width: 800px;
  height: 560px;
}

.txt{
  margin-left: 3%;
}

.textc{
  color: black;
}
.txt2 p {
  margin-left: 3%;
}



@media (max-width: 900px){
  section h1{
    font-size: 40px;
  }

  section .cards{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
.qt-background{
    background: url(../Images/xianyu-hao-betJpW6fuoY-unsplash.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}
.Prolog{
    padding: 50px;
    margin: 30px;
}
.title
{
    font-size: 1.7rem;
    color: rgb(245, 230, 202);
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}
section .cards .photo3-card img
{
  margin: 20px;
  padding: 20px;
  max-width: 900px;
  width: 800px;
  height: 560px;
}



/*Login popup*/

.popup{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;

}

.popup-content{
  height:300px;
  width:500px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.popupSignUp{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  display: none;
  justify-content: center;
  align-items: center;
}

.Sign-Up-content{
  height:330px;
  width:500px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

input{ 
  
  background-color: #f6f6f6;
  text-align: center;
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  border: none;

}


.close{
  position:absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.signBtnStyle{
  color: white;
  position:absolute;
  top:150px;
  right: 25%;
  width: 50%;
  padding: 8px;
  background: #0074a9;
  border: 1px solid #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  cursor: pointer;
}

.registerBtn{
  color: #0074a9;
  position:absolute;
  top:240px;
  right: 25%;
  width: 50%;
  padding: 8px;
  background: #fff;
  border: 1px solid #0074a9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
  cursor: pointer;
}

input[type=email]:focus {
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 2px solid #0074a9;
  outline: none;
}

input[type=text]:placeholder {
  color: #cccccc;
  outline: none;
}

input[type=text]:focus {
  outline: none;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 3px solid #0074a9;
  
}

input[type=text]:placeholder {
  outline: none;
  color: #cccccc;
}


input[type=password]:focus {
  outline: none;
  background-color: #fff;
  border-bottom: 3px solid #0074a9;
  border-top: 0px solid  #f6f6f6;
}

input[type=password]:placeholder {
  color: #cccccc;
}



/*afto*/